body{
  color: #444;
}
.navbar{
  text-transform: uppercase;
  background-color: white;
  padding-top:20px;
  padding-bottom:10px;
  .navbar-brand{
    font-size: 1.1em;
    color: #444;
    &:hover{
      cursor: pointer;
      color: #444;
    }
  }
  .navbar-toggler{
    font-size: 1em;
    border: solid #444 1px;
    color: red;
    background: #444;
    &:hover{
      cursor:pointer;
    }
  }
  .nav-item{
    font-size: .8em;
    font-weight: bold;
    &:focus{
      outline-color: white;
    }
  }
}

.navbar-nav .nav-item .nav-link{
  color: #444;
  &:hover, &:active, &:focus{
    color: #4ec1e2;
    cursor: pointer;
    border: none;
    outline-color: white;
  }
}
