.about{
  h3, h5{
    color: white;
    letter-spacing: 3px;
  }
  h5{
    line-height: 35px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 40px;
  }
  h3{
    text-transform: uppercase;
    font-weight: 700;

    span{
      font-weight: 400;
    }
  }
  background-image: linear-gradient(
      rgba(50, 130, 200, 0.95),
      rgba(255, 0, 0, 0.35)
    ), url('../img/clouds.jpg');
    background-size: cover;
    background-attachment: fixed;


}
.info{
  margin-bottom: 40px;
  padding: 25px;
  text-align: center;
  background-color: white;
  h4{
    margin: 25px 0;
  }
  a{
    color: steelblue;
    font-size: .8rem;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    &:hover{
      text-decoration: none;
      cursor: pointer;
    }
  }
}
