.transition{
  h3{
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  text-align: center;
  background-image: url('../img/one.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
