.section-header {
  text-align: center; }
  .section-header h3 {
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700; }
    .section-header h3 span {
      font-weight: 400; }
  .section-header h5 {
    color: white;
    letter-spacing: 2px;
    line-height: 35px;
    font-weight: 300;
    margin-bottom: 40px;
    font-size: 1.5rem; }

button:focus {
  outline: none; }

body {
  color: #444; }

.navbar {
  text-transform: uppercase;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 10px; }
  .navbar .navbar-brand {
    font-size: 1.1em;
    color: #444; }
    .navbar .navbar-brand:hover {
      cursor: pointer;
      color: #444; }
  .navbar .navbar-toggler {
    font-size: 1em;
    border: solid #444 1px;
    color: red;
    background: #444; }
    .navbar .navbar-toggler:hover {
      cursor: pointer; }
  .navbar .nav-item {
    font-size: .8em;
    font-weight: bold; }
    .navbar .nav-item:focus {
      outline-color: white; }

.navbar-nav .nav-item .nav-link {
  color: #444; }
  .navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item .nav-link:active, .navbar-nav .nav-item .nav-link:focus {
    color: #4ec1e2;
    cursor: pointer;
    border: none;
    outline-color: white; }

.faq {
  background-image: url("../img/desert.jpg");
  background-size: cover;
  background-attachment: fixed; }
  .faq .card {
    margin: 10px 0;
    border-radius: 0; }
  .faq .col-lg-4 {
    margin-bottom: 15px; }

.card-header h6 {
  font-weight: bold;
  text-align: left;
  line-height: 2rem; }

.card-block {
  text-align: left; }

.hero {
  color: white;
  padding-top: 300px;
  background-image: url("../img/one.jpg");
  background-size: cover;
  background-attachment: fixed; }
  .hero button {
    font-size: .7rem;
    color: white;
    margin-top: 35px;
    padding: 15px;
    margin-right: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: solid rgba(255, 255, 255, 0.25) 2px;
    background-color: rgba(0, 0, 0, 0); }
    .hero button:hover {
      background: rgba(255, 255, 255, 0.35);
      border: solid rgba(255, 255, 255, 0.1) 2px;
      color: rgba(68, 68, 68, 0.5);
      cursor: pointer; }
  .hero h3 {
    font-weight: 200; }
  .hero h1 {
    padding-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1.3px; }

.about {
  background-image: linear-gradient(rgba(50, 130, 200, 0.95), rgba(255, 0, 0, 0.35)), url("../img/clouds.jpg");
  background-size: cover;
  background-attachment: fixed; }

.info {
  margin-bottom: 40px;
  padding: 25px;
  text-align: center;
  background-color: white; }
  .info h4 {
    margin: 25px 0; }
  .info a {
    color: steelblue;
    font-size: .8rem;
    letter-spacing: 1.8px;
    text-transform: uppercase; }
    .info a:hover {
      text-decoration: none;
      cursor: pointer; }

.gallery {
  background-image: linear-gradient(rgba(133, 114, 191, 0.85), rgba(63, 214, 191, 0.85)), url("../img/nature.jpg");
  background-size: cover;
  background-attachment: fixed; }
  .gallery h4 {
    text-transform: uppercase; }
  .gallery h4 {
    line-height: 3rem;
    padding-left: 15px; }
  .gallery .col-xs-12 * {
    padding-bottom: 20px; }

.picture {
  background-color: white;
  margin-bottom: 25px; }
  .picture:hover {
    cursor: pointer; }

.image-holder {
  overflow: hidden; }
  .image-holder img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    max-width: 100%;
    max-height: 100%; }
    .image-holder img:hover {
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2); }

.transition {
  background-image: url("../img/one.jpg");
  background-size: cover;
  background-attachment: fixed; }

.contact {
  background-image: linear-gradient(rgba(50, 130, 200, 0.85), rgba(50, 200, 130, 0.85)), url("../img/clouds.jpg");
  background-size: cover;
  background-attachment: fixed; }

label {
  margin-bottom: 0;
  font-size: 0.8rem;
  line-height: 1.5rem;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase; }

input, textarea {
  margin-top: 0;
  margin-bottom: 2rem; }

.form-control, .btn {
  border-radius: 0; }

.btn {
  text-transform: uppercase;
  letter-spacing: .2rem;
  line-height: 1.5rem;
  border: none;
  background-color: #289f67; }
  .btn:hover {
    background-color: #1e764d; }

textarea {
  resize: none; }

.testimonials {
  height: 300px;
  background-color: lightgrey;
  text-align: center; }

.carousel {
  height: 150px; }

@media (max-width: 576px) {
  nav > .container {
    margin-left: 0;
    margin-right: 0; } }
section {
  padding-top: 200px;
  padding-bottom: 200px; }

/*# sourceMappingURL=new.css.map */
